body {
    background-color: black;
}

.button-container {
  width: 910px;
  background: black;
  overflow-y: auto;
}

.button-container > button {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  border: 2px solid black;
  font-family:verdana-bold, verdana-bold, verdana;
  font-size: 32px;
  color:black;
  text-align:center;
  float: left;
  background: white;
  margin: 2px;
}

/*
.button-container > button:hover {
  opacity: 1.0;
  border: 4px solid white;
*/

.command-button-container {
  width: 910px;
  background: black;
  overflow-y: auto;
}

.command-button-container > button {
  width: 132px;
  height: 64px;
  border-radius: 10px;
  border: 2px solid black;
  font-family:verdana-bold, verdana-bold, verdana;
  font-size: 32px;
  color:black;
  text-align:center;
  float: left;
  background: white;
  margin: 2px;
}
