{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
  <li class="active"><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
  <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro btn_container_style(width) %}
  width: {{width}}px;
  background: black;
  overflow-y: auto;
{% endmacro %}

{% macro btn_link(id, tooltip, color, name, icon) %}
{% if icon is equalto "" %}
  <button id="{{id}}" title="{{tooltip}}" style="background:{{color}}" onmousedown="mousedownButton(this)" onclick="selectButton(this)">{{name}}</button>
{% else %}
  <button id="{{id}}" title="{{tooltip}}" style="background:{{color}}; background-image:url({{ url_for('static', filename ='images/'+icon) }}); background-repeat:no-repeat; background-position:6px 8px" onmousedown="mousedownButton(this)" onclick="selectButton(this)"></button>
{% endif %}
{% endmacro %}
