{% extends "layout.html" %}

{% macro case_command(id, row, col) %}
  case {{id}}:    aReq.open("GET", cmd_wp + aircraft_id[{{row}}] + '/' + waypoint_id[{{col}}] + '/' + wp_lat[{{col}}] + '/' + wp_long[{{col}}] + '/' + wp_alt[{{col}}], true); aReq.send(); break;
{% endmacro %}

{% macro case_command_group(id, col) %}
  case {{id}}:    bReq.open("GET", cmd_wp + waypoint_id[{{col}}] + '/' + wp_lat[{{col}}] + '/' + wp_long[{{col}}] + '/' + wp_alt[{{col}}], true); bReq.send(); break;
{% endmacro %}

{% block head %}
<head>

<title>Waypoint: Flying Robot Commander</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<script>

var row_count       = {{ p_row_count }} + 1;  // Number of rows + 1 to accomodate group action button row
var col_count       = {{ p_col_count }};      // Number of columns = number of waypoint commands
var msg_btn_id      = "999";  // Id of the message id status button

// Assign defaults for ip address, port number
var ip_addr         = '{{ p_host }}';
var port_number     = '{{ p_port }}';
var ip_cmd_prefix   = 'http://' + ip_addr + ':' + port_number;  // Prefix for URL commands that includes the ip address and port
var cmd_wp          = ip_cmd_prefix + '/waypoint/';

var aircraft_id     = '{{ p_row_list }}'.replace( / |\[|\]/g, '' ).split(',');    // Strips space and square brackets from list before splitting
var waypoint_id     = '{{ p_col_list }}'.replace( / |\[|\]/g, '' ).split(',');    // Strips space and square brackets from list before splitting
// Default Waypoints for: Standby, WP_1, WP_2, WP_3, WP_4, WP_HOV, WP_1_mod, WP_2_mod
// Mostly here for reference while playing with waypoint configurations
/*
var wp_id           = new Array('/3', '/4', '/5', '/6', '/7', '/8', '/4', '/5');
var wp_lat          = new Array(  45.5641310,   45.5644588,   45.5642158,   45.5644687,   45.5642239,   45.5642671,   45.5641310,   45.5644588);
var wp_long         = new Array(-122.6224349, -122.6224673, -122.6219449, -122.6219406, -122.6224702, -122.6222098, -122.6224349, -122.6224673);
*/
// Testing waypoint data
var wp_lat          = new Array(  45.5642,   45.5645,   45.5643,   45.5641,   45.5643,   45.5645,   45.5642,   45.5642);
var wp_long         = new Array(-122.6222, -122.6222, -122.6225, -122.6222, -122.6219, -122.6219, -122.6222, -122.6222);
var wp_alt          = new Array(  61.0,      61.0,      61.0,      61.0,      61.0,      61.0,      81.0,     101.0);
var wp_incr         = 0.0001;


function displayTriggerMessage(msg) {
  // Set message text to color other than black as a visual aid to detect message latency issues
  // CURRENTY NOT USED BASED ON OBSERVED PERFORMANCE
  //document.getElementById(msg_btn_id).style.color = "green";
  //document.getElementById(msg_btn_id).innerHTML = "Id: " + msg;

  var aReq = new XMLHttpRequest();
  var bReq = new XMLHttpRequest();

  switch(parseInt(msg)) {

    {% for row in range(1,p_row_count+1)  %}
        {% set rowloop = loop %}
        {% for col in range(1,p_col_count+1)  %}
            {{ case_command( ((rowloop.index-1)*p_col_count)+(col-1), rowloop.index-1, col-1 ) }}
        {% endfor %}
    {% endfor %}

    {% for col in range(1,p_col_count+1)  %}
        {{ case_command_group( (p_row_count*p_col_count)+(col-1), col-1 ) }}
    {% endfor %}

    case 200:  
               break;
    case 201:  
               break;
    case 202:  
               break;
    default:   aReq.open("GET", cmd_wp + '', true); aReq.send();
  }

  document.getElementById(msg_btn_id).style.color = "black";
  document.getElementById(msg_btn_id).innerHTML = "Id: " + msg;

}

function clearRowBoarders(row) {

  for (var i = 0; i < col_count; i++) {
    var tid = ((row - 1)*col_count) + i;
    document.getElementById(tid).style.borderColor = "black";
    document.getElementById(tid).style.color = "black";
  }  

}

function setRowColumnBoarder(row, col) {
  var tid = ((row - 1)*col_count) + (col-1);
  document.getElementById(tid).style.borderColor = "white";
  document.getElementById(tid).style.color = "white";
}

function mousedownButton(btn) {
  var row = Math.trunc(btn.id / col_count) + 1;
  var col = (btn.id % col_count) + 1;

  // Clear row borders
  clearRowBoarders(row);
  btn.style.borderColor = "black";
  btn.style.color = "black";

  // Clear message status as a visual cue
  // CURRENTLY NOT USED
  //document.getElementById(msg_btn_id).innerHTML = "";
}

function selectButton(btn) {
  var row = Math.trunc(btn.id / col_count) + 1;
  var col = (btn.id % col_count) + 1;

  // Set the text of the button. Useful for testing
  //btn.innerHTML = "X" + row + "Y" + col;

  // Clear row borders
  clearRowBoarders(row);
  btn.style.borderColor = "white";
  btn.style.color = "white";
  displayTriggerMessage(btn.id);

  // If a button in the bottom row selected, clear borders on preceeding rows
  if (row == row_count) {
    for (var i = 1; i < row_count; i++) {
      clearRowBoarders(i);
      setRowColumnBoarder(i, col);
    }

  }

  /*
  // UNUSED CODE BLOCKS

  // Toggle border color
  if (btn.style.borderColor == "white") {
    btn.style.borderColor = "black";
  }
  else {
    btn.style.borderColor = "white";
  }

  // Set the background to white
  btn.style.background = "white";
  */
}

function clearPageRowBoarders() {

  // Leverage button id sequence to simplify clear operation logic
  for (var tid = 200; tid < 203; tid++) {
    document.getElementById(tid).style.borderColor = "black";
    document.getElementById(tid).style.color = "black";
  }

}


function selectPageButton(btn) {

  // Clear row borders
  clearPageRowBoarders();
  btn.style.borderColor = "white";
  btn.style.color = "white";
  displayTriggerMessage(btn.id);
}

</script>

<style>

.button-container {
  {{ btn_container_style( (p_col_count*(p_button_size+8)) ) }}
}

.button-container > button {
  {{ btn_style( p_button_size ) }}
}

.command-button-container {
  {{ btn_container_style( (p_col_count*(p_button_size+8)) ) }}
}

.command-button-container > button {
  {{ cmd_btn_style( p_button_size ) }}
}

</style>


</head>
{% endblock %}

{% block body %}
<body>

<div class="menu-container">
  <div class="button-container">

  {% set ac_tooltip = cycler(*p_ac_tooltip_list) %}
  {% set ac_color   = cycler(*p_ac_color_list) %}
  {% set ac_label   = cycler(*p_ac_label_list) %}
  {% set ac_icon    = cycler(*p_ac_icon_list) %}
  {% set tooltip    = cycler(*p_tooltip_list) %}
  {% set color      = cycler(*p_color_list) %}
  {% set label      = cycler(*p_label_list) %}
  {% set icon       = cycler(*p_icon_list) %}
  {% for row in range(1,p_row_count+1)  %}
        {% set rowloop    = loop %}
        {% set rowtooltip = ac_tooltip.next() %}
        {% set rowcolor   = ac_color.next() %}
        {% set rowlabel   = ac_label.next() %}
        {% set rowicon    = ac_icon.next() %}
        {% for col in range(1,p_col_count+1)  %}
            {% set curcolor   = color.next() %}
            {% set curtooltip = tooltip.next() %}
            {% if p_view_mode is equalto "row" %}
                {% set curtooltip = rowtooltip %}
                {% set curcolor   = rowcolor %}
            {% endif %}
            {{ btn_link( ((rowloop.index-1)*p_col_count)+(col-1),  curtooltip, curcolor, rowlabel, rowicon ) }}
        {% endfor %}      
  {% endfor %}

  {% for col in range(1,p_col_count+1)  %}
        {{ btn_link( (p_row_count*p_col_count)+(col-1),  tooltip.next(), color.next(), col, '' ) }}
  {% endfor %}      
 
  </div>
  <div class="command-button-container">
  <button id="999" style="color:black">Id: x</button>
  <!--
  <button id="200" style="background:lime; color:black; font-size: 30px"   onmousedown="mousedownButton(this)" onclick="selectPageButton(this)">Launch</button>
  <button id="201" style="background:purple; color:black; font-size: 30px" onmousedown="mousedownButton(this)" onclick="selectPageButton(this)">Flight</button>
  <button id="202" style="background:red; color:black; font-size: 30px"    onmousedown="mousedownButton(this)" onclick="selectPageButton(this)">Land</button>
  -->
  </div>
</div>

</body>
{% endblock %}